/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-remembr-issue {
	// background-color: #FF0077;
	// color: #fff;
	// padding: 2px;
	
	details {
		border: 1px solid #aaa;
		border-radius: 4px;
		padding: 0.5em 0.5em 0;
	}
	
	summary {
		font-weight: bold;
		margin: -0.5em -0.5em 0;
		padding: 0.5em;
	}
	
	details[open] {
		padding: 0.5em;
	}
	
	details[open] summary {
		border-bottom: 1px solid #aaa;
		margin-bottom: 0.5em;
	}
}
