/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-remembr-issue--message {
	font-size: var(--wp--preset--font-size--normal);
	font-weight: normal;
	background-color: #c2ffd2;
	border: 1px solid #7acd8f;
	border-radius: 4px;
	padding: 0.5em 1em;
	box-sizing: border-box;
	margin-block-start: 3em !important;
}

.wp-block-remembr-issue--warning {
	@extend .wp-block-remembr-issue--message;
	background-color: yellow;
	border-color: yellowgreen;
}

.wp-block-remembr-issue--cta-container {
	text-align: center;
}

.wp-block-remembr-issue--cta {
	cursor: pointer;
	background-color: lightseagreen;
	border: 1px solid lightblue;
	color: white;
	border-radius: 3em;
	padding: 0.25em 1.5em;
	margin: 3em auto;

	font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

.wp-block-remembr-issue {
	details {
		border: 1px solid #aaa;
		border-radius: 4px;
		padding: 0.5em 0.5em 0;
	}
	
	summary {
		font-weight: bold;
		margin: -0.5em -0.5em 0;
		padding: 0.5em;
	}
	
	details[open] {
		padding: 0.5em;
	}
	
	details[open] summary {
		border-bottom: 1px solid #aaa;
		margin-bottom: 0.5em;
	}
}
